* {
    box-sizing: border-box;
}

.header {
    position: absolute;
width: 600px;
height: 103px;
left: 1320px;
top: 40px;

font-family: 'Montserrat', sans-serif;
font-size: 39.06px;
line-height: 51px;

color: rgba(255, 255, 255, 0.8);
}

.btn {
    position: absolute;
    background-color: #242A38;
    color: white;
    border: none;
    font-weight: bold ;
    font-size: 32px;
    font-family: "Optima", sans-serif;
}

body {
    margin: 0;
    background-color: #222222;
}

#stage, #hoverLabel, #clickLabel {
    background-color: rgba(36, 42, 56, 100);
    width: 1920px;
}

#stage {
    height: 1080px;
}

.matches {
    top: 40px;
    left: 50px;
    color: white;
}

.lengths {
    top: 40px;
    left: 280px;
    color: rgba(255, 255, 255, 0.5);
}

.winners {
    top: 40px;
    left: 580px;
    color: rgba(255, 255, 255, 0.5);
}

.all {
    font-size: 30px;
    top: 410px;
    left: 50px;
    color: white;
}

.hard {
    font-size: 30px;
    top: 460px;
    left: 50px;
    color: rgba(255, 255, 255, 0.5);
}

.clay {
    font-size: 28px;
    top: 510px;
    left: 50px;
    color: rgba(255, 255, 255, 0.5);
}

.grass {
    font-size: 28px;
    top: 560px;
    left: 50px;
    color: rgba(255, 255, 255, 0.5);
}

.carpet {
    font-size: 28px;
    top: 610px;
    left: 50px;
    color: rgba(255, 255, 255, 0.5);
}

.year03 {
    font-size: 28px;
    top: 1000px;
    left: 50px;
    color: white
}

.year04 {
    font-size: 28px;
    top: 1000px;
    left: 290px;
    color: rgba(255, 255, 255, 0.5);
}

.year05 {
    font-size: 28px;
    top: 1000px;
    left: 530px;
    color: rgba(255, 255, 255, 0.5);
}

.year06 {
    font-size: 28px;
    top: 1000px;
    left: 770px;
    color: rgba(255, 255, 255, 0.5);
}

.year07 {
    font-size: 28px;
    top: 1000px;
    left: 1010px;
    color: rgba(255, 255, 255, 0.5);
}

.year08 {
    font-size: 28px;
    top: 1000px;
    left: 1250px;
    color: rgba(255, 255, 255, 0.5);
}

.year09 {
    font-size: 28px;
    top: 1000px;
    left: 1490px;
    color: rgba(255, 255, 255, 0.5);
}

.year10 {
    font-size: 28px;
    top: 1000px;
    left: 1730px;
    color: rgba(255, 255, 255, 0.5);
}

.years {
    font-size: 28px;
    top: 1000px;
    left: 50px;
    color: white
}

.playerWinner {
    background-color: rgba(138, 227, 227, 1);
    position: absolute;
    border-radius: 100%;
}

.playerLoser {
    background-color: rgba(254, 245, 140, 1);
    position: absolute;
    border-radius: 100%;
}

.hover {
    background-color: gray;
}

.clicked {
    background-color: red;
}