* {
    box-sizing: border-box;
}

.header {
    position: absolute;
    width: 600px;
    height: 103px;
    left: 1280px;
    top: 3px;

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
    text-align: right;
    letter-spacing: 1px;

    color: rgba(131, 138, 177, 0.35);
}

.btn {
    position: absolute;
    background-color: rgba(37, 48, 73, 0.15);
    color: rgba(146, 151, 168, 0.50);
    border: none;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 2px;
    font-family: "Source Sans Pro", sans-serif;
}

.btn-year {
    background-color: rgba(37, 48, 73, 0.15);
    color: rgba(146, 151, 168, 0.50);
    border: none;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 15px;
    letter-spacing: 1.5 px;
    font-family: "Source Sans Pro", sans-serif;
}

#yearButtons {
    position: absolute;
    top: 300px;
    left: 32px;
}

.btn-surface {
    background-color: rgba(37, 48, 73, 0.15);
    color: rgba(37, 255, 255, 0.15);
    margin-left: 5px;
    border: none;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 1px;
    font-family:"Source Sans Pro", sans-serif;
}

#surfaceButtons {
    position: absolute;
    top: 75px;
    left: 26px;
}

body {
    margin: 0;
    background-color: #222222;
}

#stage, #hoverLabel, #clickLabel {
    background-color: #253049;
    width: 1920px;
}

#stage {
    height: 1080px;
}

#hoverLength {
    font-family: "Source Sans Pro", sans-serif;
    color: rgb(255, 231, 194);
    height: 24px;
    width: 341px;
    margin-left: 40px;
    margin-top: -940px;
    font-size: 35px;
}

#hoverName {
    font-family: "Source Sans Pro", sans-serif;
    height: 24px;
    width: 341px;
    margin-left: 40px;
    margin-top: 28px;
    font-size: 20px;
}

#hoverMonth {
    font-family: "Source Sans Pro", sans-serif;
    height: 24px;
    width: 341px;
    margin-left: 40px;
    margin-top: 5px;
    font-size: 18px;
}

#hoverRound {
    font-family: "Source Sans Pro", sans-serif;
    height: 24px;
    width: 341px;
    margin-left: 41px;
    margin-top: -27px;
    font-size: 18px;
}

#hoverSurface {
    font-family: "Source Sans Pro", sans-serif;
    height: 24px;
    width: 341px;
    margin-left: 40px;
    margin-top: 8px;
    font-size: 18px;
}

.matches {
    top: 30px;
    left: 30px;
    color: white;
}

.lengths {
    top: 30px;
    left: 180px;
    color: rgba(255, 255, 255, 0.25);
}

.tourneys {
    top: 30px;
    left: 340px;
    color: rgba(255, 255, 255, 0.25);
}