* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #222222;
    color: white;
    font-family: Avenir Next, sans-serif;
}

#stage, #hoverLabel, #clickLabel {
    background-color: rgba(36, 42, 56, 100);
    width: 1920px;
}

#stage {
    height: 1080px;
}

.button{
    position: absolute;
    background-color: #242A38;
    color: white;
    border: none;
    font-size: 30px;
    font-family: Avenir Next, Montserrat,  sans-serif;
}

.matches {
    top: 50px;
    left: 50px;
    color: white;
}

.duration {
    top: 50px;
    left: 190px;
    color: rgba(255, 255, 255, 50);
}

.winners {
    top: 50px;
    left: 330px;
    color: rgba(255, 255, 255, 50);
}

.playerLeft {
    background-color: rgba(249, 237, 102, 1);
    position: absolute;
    border-radius: 100%;
}

.playerRight {
    background-color: rgba(138, 227, 227, 1);
    position: absolute;
    border-radius: 100%;
}

.hover {
    background-color: gray;
}

.clicked {
    background-color: red;
}